{% extends 'base/index.html' %}
{% load static %}
{% block css %}
<!-- Bootstrap core CSS -->
<link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'base/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'base/css/animate.min.css' %}" rel="stylesheet">
<!-- Custom styling plus plugins -->
<link href="{% static 'base/css/custom.css' %}"rel="stylesheet">
<link href="{% static 'base/css/icheck/flat/green.css' %}"rel="stylesheet">
  <!-- editor -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<link href="{% static 'base/css/editor/external/google-code-prettify/prettify.css' %}" rel="stylesheet">
<link href="{% static 'base/css/editor/index.css' %}" rel="stylesheet">
<!-- select2 -->
<link href="{% static 'base/css/select/select2.min.css' %}" rel="stylesheet">
<!-- switchery -->
<link rel="stylesheet" href="{% static 'base/css/switchery/switchery.min.css' %}" />
{% endblock %}
{% block content %}
{% block titulo %}
<title>Agregar alumno - SecuSoft</title>
{% endblock %}
<form id="form" method="post" action="{% url 'usuarios:usuario-nuevo-alumno' %}" >
   {% csrf_token %}
   <div class="center" role="main">
      <div class="">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <div class="x_title">
                  <h2>Agregar alumno</h2>
                  <div class="clearfix"></div>
                  <p><small>Datos del alumno:</small></p>
                  <div class="clearfix"></div>
               </div>
               <div class="x_content">
                  <table id="datatable-responsive" class="dt-responsive" cellspacing="10" width="100%">
                        <tr>
                           <td>
                              {{form.nombre.label}}
                           </td>
                           <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                 {{form.nombre}}
                                 <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form.apellido.label}}
                           </td>
                           <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                 {{form.apellido}}
                                 <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                           </td>
                        </tr>
                    {% if form2.matricula %}
                     <!-- Alumno -->
                        <tr>
                           <td>
                              {{form2.matricula.label}}
                           </td>
                           <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                 {{form2.matricula}}
                                 <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form2.grupo.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <select class="form-control" name="grupo" id="id_grupo">
                                      <option value="A">A</option>
                                      <option value="B">B</option>
                                      <option value="C">C</option>
                                    </select>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form2.grado.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                    <select class="form-control" name="grado" id="id_grado">
                                      <option value="1">Primero</option>
                                      <option value="2">Segundo</option>
                                      <option value="3">Tercero</option>
                                    </select>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form.tipo_persona.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback " >
                                <select class="form-control"  name="tipo_persona" id="id_tipo_persona">
                                  <option value="4" selected="">Alumno</option>
                                </select>
                                    </div>
                              </div>
                           </td>
                        </tr>
                     <!-- Alumno -->
                     {% elif form2.tutor %}
                     <!-- Docente -->
                        <tr>
                           <td>
                              {{form2.matricula.label}}
                           </td>
                           <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                 {{form2.matricula}}
                                 <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form2.grupo.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <select class="form-control" name="grupo" id="id_grupo">
                                      <option value="A">A</option>
                                      <option value="B">B</option>
                                      <option value="C">C</option>
                                    </select>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form2.grado.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                    <select class="form-control" name="grado" id="id_grado">
                                      <option value="1">Primero</option>
                                      <option value="2">Segundo</option>
                                      <option value="3">Tercero</option>
                                    </select>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form.tipo_persona.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback " >
                                <select class="form-control"  name="tipo_persona" id="id_tipo_persona">
                                  <option value="4" selected="">Alumno</option>
                                </select>
                                    </div>
                              </div>
                           </td>
                        </tr>
                     <!-- Docente -->
                        {% elif form2.padre %}
                     <!-- Padre de familia -->
                        <tr>
                           <td>
                              {{form4.alumno.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
{#                                 <select class="select2_single" name="alumno" id="id_alumno" required="" style="width: auto">#}
{#                                     {% for alumno in form4.alumno %}#}
{#                                          <option value="{{alumno}}">{{alumno}}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>                              #}
                                     {{ form4.alumno }}
                                    </div>
                            </div>
                           </td>
                        </tr>

                     <!-- Padre de familia -->
                        {% elif form2.admin %}
                     <!-- Admin -->
                     <!-- Admin-->
                     {% endif %}
                        {% if form2.matricula %}
                     <!-- No usuario -->
                     <!-- No usuario-->
                        {% else %}
                     <!-- Usuario -->
                        <tr>
                           <td>
                              {{form3.nombre.label}}
                           </td>
                           <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                 {{form3.nombre}}
                                 <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              {{form3.contra.label}}
                           </td>
                           <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                 {{form3.contra}}
                                 <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                           </td>
                        </tr>
                     {% endif %}
                        <tr>
                           <td>
                              {{form.sexo.label}}
                           </td>
                           <td>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                    <select class="form-control" name="sexo" id="id_sexo">
                                          <option value="H" selected="">Hombre</option>
                                          <option value="M">Mujer</option>
                                     </select>
                                 </div>
                              </div>
                           </td>
                        </tr>
                           <td>
                              {{form.fecha_nacimiento.label}}
                           </td>
                           <td>
                               <fieldset>
                              <div class="form-group">
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                    <input type="text" name="fecha_nacimiento" required="" id="id_fecha_nacimiento" autocomplete="off" class="form-control active" placeholder="20/03/2006" aria-describedby="inputSuccess2Status4">
                                    <span class="fa fa-calendar-o form-control-feedback right" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                                 </div>
                              </div>
                               </fieldset>
                           </td>

                        </tr>
                     </tbody>
                  </table>
                  <button class="btn btn-success" type="submit">Agregar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{% endblock %}
{% block js %}
<!-- pace -->
<script src="{% static 'base/js/custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/datepicker/daterangepicker.js' %}"></script>

  <!-- select2 -->
  <script src="{% static 'base/js/select/select2.full.js' %}"></script>
  <script src="{% static 'base/js/autocomplete/jquery.autocomplete.js' %}"></script>

  <!-- select2 -->
  <script>
    $(document).ready(function() {
      $(".select2_single").select2({
        placeholder: "Selecciona un alumno",
        allowClear: true
      });
    });
  </script>
  <!-- /select2 -->
      <!-- /datepicker -->
  <script type="text/javascript">
    $(document).ready(function() {

      $('#single_cal4').daterangepicker({
        singleDatePicker: true,
        calender_style: "picker_4"
      }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
      });
    });
  </script>
{% endblock %}