{% extends 'base/index.html' %}
{% load static %}
{% block css %}
  <!-- Bootstrap core CSS -->

  <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'base/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/animate.min.css' %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static 'base/css/custom.css' %}"rel="stylesheet">
  <link href="{% static 'base/css/icheck/flat/green.css' %}"rel="stylesheet">



{% endblock %}

{% block content %}
    {% block titulo %}
    <title>Agregar alumno - SecuSoft</title>
    {% endblock %}
<form id="form" method="post" action="{% url 'usuarios:usuario-nuevo-alumno' %}" >{% csrf_token %}
  <div class="center" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                  <h2>Agregar alumno</h2>
                  <div class="clearfix"></div>
                    <p><small>Datos del alumno:</small></p>
                  <div class="clearfix"></div>
                </div>
                  <div class="x_content">

                      <table id="datatable-responsive" class="dt-responsive" cellspacing="10" width="100%">
                          <tbody>
                          <tr>
                          <td>
                              {{form.nombre.label}}
                          </td>
                          <td>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback form-group">
                                {{form.nombre}}
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                              </div>
                          </td>
                          </tr>
                          <tr>
                              <td>
                                  {{form.apellido.label}}
                              </td>
                              <td>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  {{form.apellido}}
                                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                              </td>
                          </tr>
                          <tr>
                            <td>
                                  {{form2.matricula.label}}
                              </td>
                              <td>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  {{form2.matricula}}
                                  <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                </div>
                              </td>
                          </tr>
                          <tr>
                          <td>
                                  {{form2.grupo.label}}
                              </td>
                              <td>
                              <div class="form-group">
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  {{form2.grupo}}
                                </div>
                              </div>
                              </td>
                          </tr>
                          <tr>
                            <td>
                                  {{form2.grado.label}}
                              </td>
                              <td>
                              <div class="form-group">
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                  {{form2.grado}}
                                </div>
                              </div>
                              </td>
                          </tr>
                          <tr>
                          <td>
                              {{form.tipo_persona.label}}
                          </td>
                              <td>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        {{form.tipo_persona}}
                                    </div>
                                </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  {{form.sexo.label}}
                              </td>
                              <td>
                              <div class="form-group">
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    {{form.sexo}}
                                  </div>
                                </div>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  {{form.fecha_nacimiento.label}}
                              </td>
                              <td>
                              <div class="form-group">
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    {{form.fecha_nacimiento}}
                                  </div>
                                </div>
                              </td>
                          </tr>
                          </tbody>
                    </table>
                     <button class="btn btn-default" type="submit">Agregar!</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</form>
{% endblock %}
{% block js %}

      <!-- pace -->
      <script src="{% static 'base/js/custom.min.js' %}"></script>
      <!-- daterangepicker -->

{% endblock %}