{% extends 'base/index.html' %}
{% load static %}
{% block css %}
  <!-- Bootstrap core CSS -->

  <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'base/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/animate.min.css' %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static 'base/css/custom.css' %}"rel="stylesheet">
  <link href="{% static 'base/css/icheck/flat/green.css' %}"rel="stylesheet">

{% endblock %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>{{ title }}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
                    <h2>{{ user.get_type_str}}</h2>
        <hr>
        <div>
        <center><h2>Slider de Avisos</h2>
        {% if user.get_type == '1' %}
             {% for aviso in object_list %}
                   <table class="table mySlides" style="width: auto;">
                    <tr>
                        <td>Asunto</td>
                        <td>Dirigido a</td>
                        <td>Grado</td>
                        <td>Grupo</td>
                        <td>Fecha</td>
                    </tr>
                    <tr>
                          <!--<td>{{ aviso.id }}</td>-->
                          <td>{{ aviso.asunto}}</td>
                          <td>{{ aviso.get_dirigido_a_display }}</td>
                          <!--<td>{{ aviso.dirigido_a }}</td>-->
                          <td>{{ aviso.grado }}</td>
                          <td>{{ aviso.grupo}}</td>
                          <td>{{ aviso.fecha_creacion}}</td>
                    </tr>
                    </table>
             {% empty %}
                 <center><h2>No hay Avisos por el momento</h2></center>
             {% endfor %}
        {% else %}
            {% for aviso in object_list %}
                   <table class="table mySlides" style="width: auto;">
                    <tr>
                        <td>Asunto</td>
                        <td>Dirigido a</td>
                        <td>Grado</td>
                        <td>Grupo</td>
                        <td>Fecha</td>
                    </tr>
                        {% if aviso.dirigido_a == user.get_type %}
                    <tr>
                          <!--<td>{{ aviso.id }}</td>-->
                          <td>{{ aviso.asunto}}</td>
                          <td>{{ aviso.get_dirigido_a_display }}</td>
                          <!--<td>{{ aviso.dirigido_a }}</td>-->
                          <td>{{ aviso.grado }}</td>
                          <td>{{ aviso.grupo}}</td>
                          <td>{{ aviso.fecha_creacion}}</td>
                    </tr>
                        {% endif %}
                    </table>
            {% empty %}
                 <center><h2>No hay Avisos por el momento</h2></center>
            {% endfor %}
        {% endif %}
        </center>
        </div>
        <hr>
          <!--  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button> -->
            <script type="text/javascript">
             var slideIndex = 1;
            var myVar = setInterval(myTimer, 5000);
             showDivs(slideIndex);
            function myTimer() {
                showDivs(slideIndex);
                slideIndex+=1;
                console.log(slideIndex);
            }

                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }
                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    if (n > x.length) {slideIndex = 1}
                    if (n < 1) {slideIndex = x.length} ;
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex-1].style.display = "block";
                }
            </script>
        </div>
    </div>
</div>

    {% block js %}
        <!-- pace -->
        <script src="{% static 'base/js/custom.min.js' %}"></script>
    {% endblock %}
{% endblock %}

