{% extends 'base/index.html' %}
{% load static %}
{% block css %}
  <!-- Bootstrap core CSS -->

  <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">

  <link href="{% static 'base/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/animate.min.css' %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static 'base/css/custom.css' %}"rel="stylesheet">
  <link href="{% static 'base/css/icheck/flat/green.css' %}"rel="stylesheet">

  <link href="{% static 'base/js/datatables/jquery.dataTables.min.css' %}"rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}
{% if user.get_type != '1' %}
<meta http-equiv="REFRESH" content="0;url={% url 'dashboard:index' %}">
{% endif %}
{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <h2>{{ title }}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="datatable-responsive 2" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <h2><label>Detalle de la Materia</label></h2>
                <tbody>
                {% for incidencia in object %}
                        <tr><td>Nombre:</td><td>{{ incidencia.nombre }}</td></tr>
                        <tr><td>Grado:</td><td>{{ incidencia.get_grado_display}}</td></tr>
                        <tr><td>Grupo:</td><td>{{ incidencia.grupo }}</td></tr>
                </tbody>
            </table>
            <div class="col-md-5 col-sm-12 col-xs-12 form-group"></div>
            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <td scope="row" class="align-right form-group"><br><label> Editar datos de la Incidencia</label><br>
                       <a href='{% url 'materias:materia-actualizar' incidencia.id%}'><div class="col-md-2 col-sm-12 col-xs-12 form-group"></div><i class="fa fa-edit fa-2x text-primary" ></i></a>
                </td>
            </div>
        </div>
                    {% endfor %}

                <br><br><br><br> <br><br><br><br>

        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap key" cellspacing="0" width="100%">
                  <h2><label>Docente Asociados</label></h2>
                <thead>
                        <tr>
                              <th scope="col">Id</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Apellidos</th>
                        </tr>
                </thead>
                  <tbody>
                        {% for persona in padre %}
                            <tr>
                                  <td>{{ persona.idd }}</td>
                                  <td>{{ persona.nombre2 }}</td>
                                  <td>{{ persona.apellido2 }}</td>
                            </tr>
                        {% empty %}
                        <tr>
                          <td scope="row" colspan="6">No hay alumnos asociados a este padre de familia.</td>
                        </tr>
                        {% endfor %}
                  </tbody>
              </table>
            <div class="col-md-5 col-sm-12 col-xs-12 form-group"></div>
            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <td scope="row" class="align-right form-group"><br><label> Editar datos de la Incidencia</label><br>
                    {% for materia in padre %}

                       <a href='{% url 'materias:materia-docente-actualizar' materia.khe%}'><div class="col-md-2 col-sm-12 col-xs-12 form-group"></div><i class="fa fa-edit fa-2x text-primary" ></i></a>
                                            {% endfor %}

                </td>
            </div>


    </div>
</div>

{% endblock %}

{% block js %}
        <!-- Datatables-->
        <script src="{% static 'base/js/datatables/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/dataTables.bootstrap.js'%}"></script>
        <script src="{% static 'base/js/datatables/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/buttons.bootstrap.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/jszip.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/pdfmake.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/vfs_fonts.js'%}"></script>
        <script src="{% static 'base/js/datatables/buttons.html5.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/buttons.print.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/dataTables.fixedHeader.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/dataTables.keyTable.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/dataTables.responsive.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/responsive.bootstrap.min.js'%}"></script>
        <script src="{% static 'base/js/datatables/dataTables.scroller.min.js'%}"></script>


        <!-- pace -->
        <script src="{% static 'base/js/custom.min.js' %}"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
              keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
              ajax: "{% static 'base/js/datatables/json/scroller-demo.json' %}",
              deferRender: true,
              scrollY: 380,
              scrollCollapse: true,
              scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
              fixedHeader: true
            });
          });
        </script>
{% endblock %}