{% extends 'base/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    <style>
.asteriskField {
    display: none;
}
    </style>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/animate.min.css' %}" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="{% static 'base/css/custom.css' %}"rel="stylesheet">
    <link href="{% static 'base/css/icheck/flat/green.css' %}"rel="stylesheet">
      <!-- editor -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'base/css/editor/external/google-code-prettify/prettify.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/editor/index.css' %}" rel="stylesheet">
    <!-- select2 -->
    <link href="{% static 'base/css/select/select2.min.css' %}" rel="stylesheet">
    <!-- switchery -->
    <link rel="stylesheet" href="{% static 'base/css/switchery/switchery.min.css' %}" />
{% endblock %}
{% block content %}
{% block titulo %}
<title>Agregar incidencia - SecuSoft</title>
{% endblock %}
<form method="POST"  class="form-horizontal form-label-left" >
   {% csrf_token %}
   <div class="center" role="main">
      <div class="">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <div class="x_title">
                  <h2>Agregar incidencia</h2>
                  <div class="clearfix"></div>
                  <p><small>Datos de la incidencia:</small></p>
                  <div class="clearfix"></div>
               </div>
               <div class="x_content">
                  <table id="datatable-responsive" class="dt-responsive" cellspacing="10" width="100%">
                      <tbody>

<div id="div_id_fecha_incidencia" class="form-group"> <label for="id_fecha_incidencia" class="col-form-label  requiredField">
                Fecha incidencia<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="fecha_incidencia" required="" id="id_fecha_incidencia" class="datetimeinput form-control active"> </div> </div>
<div id="div_id_observaciones" class="form-group"> <label for="id_observaciones" class="col-form-label ">
                Observaciones
            </label> <div class=""> <textarea name="observaciones" id="id_observaciones" rows="10" class="textarea form-control" cols="40"></textarea> </div> </div>


<div class="form-row field-alumno">

                <div>

                        <label for="id_alumno">Alumno:</label>

                            <div class="related-widget-wrapper">
    <select name="alumno" required="" multiple="multiple" id="id_alumno">
  <option value="15110167">Miguel Haro: 15110167 Primero grado</option>

  <option value="1052121">Pedro nuevo: 1052121 Segundo grado</option>

</select>


</div>
                </div>

        </div>
                      <label>Tipo de incidencia:</label>
                      <select name="incidenciaselector"  class="select form-control" id="incidenciaselector" onchange="showDiv(this)">
                          <option value="1" selected="">Administrativa</option>
                          <option value="2">Labor</option>
                          <option value="3">Conducta</option>
                          <option value="4">Otro</option>
                      </select>
                      <br>
                      <div id="Admin" >
                      <label>Incidecia:</label>
                        <select name="incidencia"  required="" id="id_incidencia" class="select form-control is-invalid">
                          <option value="" selected="">---------</option>
                      <div id="Admin" >
                     {% for incidencia in Administrativa %}
                          <option value="{{ incidencia.id_tipo}}" class="{{ incidencia.tipo}}">{{incidencia}}</option>
                      {% endfor %}
                      </div>
                      <div id="Lab" style="display: none">
                      {% for incidencia in Labor %}
                          <option value="{{ incidencia.id_tipo}}" class="{{ incidencia.tipo}}">{{incidencia}}</option>
                      {% endfor %}
                      </div>
                      <div id="Cond" style="display: none">
                     {% for incidencia in Conducta %}
                          <option value="{{ incidencia.id_tipo}}" class="{{ incidencia.tipo}}">{{incidencia}}</option>
                      {% endfor %}
                      </div>
                      <div id="Otr" style="display: none">
                     {% for incidencia in Otro %}
                          <option value="{{ incidencia.id_tipo}}" class="{{ incidencia.tipo}}">{{incidencia}}</option>
                      {% endfor %}
                      </div>

                      </select>
                      </div>
                     </tbody>
                  </table>
               <br>
                <button class="btn btn-success" type="submit">Agregar</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{% endblock %}
{% block js %}
<!-- pace -->
<script src="{% static 'base/js/custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/datepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/autocomplete/countries.js' %}"></script>

  <!-- daterangepicker -->
  <script type="text/javascript" src="{% static 'base/js/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/datepicker/daterangepicker.js' %}"></script>
  <!-- select2 -->
  <script src="{% static 'base/js/select/select2.full.js' %}"></script>
  <script src="{% static 'base/js/autocomplete/jquery.autocomplete.js' %}"></script>
  <script src="{% static 'base/js/validator/validator.js' %}"></script>

  <script type="text/javascript">
    function showDiv(elem){
       if(elem.value == 1){
           document.getElementById('Admin').style.display = "block";
           document.getElementById('Lab').style.display = "none";
           document.getElementById('Cond').style.display = "none";
           document.getElementById('Otr').style.display = "none";
       }
        else if(elem.value == 2){
           document.getElementById('Admin').style.display = "none";
           document.getElementById('Lab').style.display = "block";
           document.getElementById('Cond').style.display = "none";
           document.getElementById('Otr').style.display = "none";
       }
        else if(elem.value == 3){
           document.getElementById('Admin').style.display = "none";
           document.getElementById('Lab').style.display = "none";
           document.getElementById('Cond').style.display = "block";
           document.getElementById('Otr').style.display = "none";
       }
        else if(elem.value == 4){
           document.getElementById('Admin').style.display = "none";
           document.getElementById('Lab').style.display = "none";
           document.getElementById('Cond').style.display = "none";
           document.getElementById('Otr').style.display = "block";
       }
    }

  </script>
        <script>
    $(function() {
      $('#id_fecha_incidencia').daterangepicker({
        format: 'YYYY-MM-DD',
        locale: 'es',
        singleDatePicker: true,
        showDropdowns: true,
        defaultDate: new Date('2018-02-01'),
        minDate: new Date('2018-02-01'),
        var: f = new Date(),
        maxDate : (f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate())
      });
    });
    </script>

{% endblock %}