{% extends 'base/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    <style>
.asteriskField {
    display: none;
}
    </style>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'base/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/animate.min.css' %}" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="{% static 'base/css/custom.css' %}"rel="stylesheet">
    <link href="{% static 'base/css/icheck/flat/green.css' %}"rel="stylesheet">
      <!-- editor -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'base/css/editor/external/google-code-prettify/prettify.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/editor/index.css' %}" rel="stylesheet">
    <!-- select2 -->
    <link href="{% static 'base/css/select/select2.min.css' %}" rel="stylesheet">
    <!-- switchery -->
    <link rel="stylesheet" href="{% static 'base/css/switchery/switchery.min.css' %}" />
      <link href="{% static 'base/js/datatables/jquery.dataTables.min.css' %}"rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'base/js/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% block titulo %}
<title>Agregar incidencia - SecuSoft</title>
{% endblock %}
    {% if user.get_type == '1' or user.get_type == '2'  %}
    {% else %}
<meta http-equiv="REFRESH" content="0;url={% url 'dashboard:index' %}">
{% endif %}
<form method="POST"  class="form-horizontal form-label-left" >
   {% csrf_token %}
   <div class="center" role="main">
      <div class="">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
               <div class="x_title">
                  <h2>Agregar incidencia</h2>
                  <div class="clearfix"></div>
                  <p><small>Datos de la incidencia:</small></p>
                  <div class="clearfix"></div>
               </div>
               <div class="x_content">
                  <table id="" class="dt-responsive" cellspacing="10" width="100%">
                      <tbody>

                      {{ form|crispy }}

                      {% if incidencias %}
                <div class="clearfix"></div>
            <label>Tipo de incidencia de forma detallada:</label>
            <br>
            <div class="x_content 2" >
              <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap key" cellspacing="0" width="100%">
                  <thead>
                        <tr>
                              <th scope="col">Tipo</th>
                              <th scope="col">Asunto</th>
                              <th scope="col">Descripcion</th>
                        </tr>
                  </thead>
                  <tbody>
                  <tr>
                        {% for incidencia in incidencias %}
                                  <td scope="row">{{ incidencia.get_tipo_display }}</td>
                                  <td>{{ incidencia.asunto }}</td>
                                  <td>{{ incidencia.descripcion }}</td>
                            </tr>
                        {% empty %}
                        <tr>
                          <td scope="row" colspan="6">No hay incidencias.</td>
                        </tr>
                        {% endfor %}
                  </tbody>
                    </table>
            {% endif %}
            </div>
              </tbody>
            </table>
                   {% if incidencias %}
                <button class="btn btn-success" type="submit">Seleccionar Alumnos</button>
                   {% else %}
                <button class="btn btn-success" type="submit">Agregar Tipo de Inscidencia</button>
                   {% endif %}
                   <div class="col-md-5 col-sm-12 col-xs-12 form-group"><a href="{% url 'dashboard:index' %}" class="btn btn-primary" role="button">Regresar</a>
            </div>
         </div>
      </div>
   </div>
</form>
{% endblock %}
{% block js %}
<!-- pace -->
<script src="{% static 'base/js/custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/datepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/autocomplete/countries.js' %}"></script>

  <!-- daterangepicker -->
  <script type="text/javascript" src="{% static 'base/js/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/datepicker/daterangepicker.js' %}"></script>
  <!-- select2 -->
  <script src="{% static 'base/js/select/select2.full.js' %}"></script>
  <script src="{% static 'base/js/autocomplete/jquery.autocomplete.js' %}"></script>
  <script src="{% static 'base/js/validator/validator.js' %}"></script>
    <!-- Datatables-->
    <script src="{% static 'base/js/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/dataTables.bootstrap.js'%}"></script>
    <script src="{% static 'base/js/datatables/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/buttons.bootstrap.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/jszip.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/pdfmake.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/vfs_fonts.js'%}"></script>
    <script src="{% static 'base/js/datatables/buttons.html5.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/buttons.print.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/dataTables.fixedHeader.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/dataTables.keyTable.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/responsive.bootstrap.min.js'%}"></script>
    <script src="{% static 'base/js/datatables/dataTables.scroller.min.js'%}"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
              keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
              ajax: "{% static 'base/js/datatables/json/scroller-demo.json' %}",
              deferRender: true,
              scrollY: 380,
              scrollCollapse: true,
              scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
              fixedHeader: true
            });
          });
        </script>
        <script>
    $(function() {
      $('#id_fecha_incidencia').daterangepicker({
        format: 'YYYY-MM-DD',
        locale: 'es',
        singleDatePicker: true,
        showDropdowns: true,
        defaultDate: new Date('2018-02-01'),
        minDate: new Date('2018-02-01'),
        var: f = new Date(),
        maxDate : (f.getFullYear() + "-" + (f.getMonth() +1) + "-" + f.getDate())
      });
    });
    </script>

{% endblock %}